In [1]:
import requests
import pandas as pd

In [2]:
import sqlite3

In [3]:
#create a connection to the dB
conn = sqlite3.connect('tuition.db') #establishes and maintains access to a dB
cursor = conn.cursor() #Allows you to execute queries and fetch results

In [4]:
'''
#create a table if it doesn't exist
cursor.execute(
    CREATE TABLE IF NOT EXISTS tuition (
        Sector_Name TEXT,
        Unit_ID TEXT,
        OPEID TEXT,
        Institution_Name TEXT,
        State TEXT,
        '22/23_Tuition' REAL
);

#the reason this didn't work is because of the """

# Create a table if it doesn't exist
cursor.execute("""
    CREATE TABLE IF NOT EXISTS tuition (
        Sector_Name TEXT,
        Unit_ID TEXT,
        OPEID TEXT,
        Institution_Name TEXT,
        State TEXT,
        "22/23_Tuition" REAL
  """  );
)
conn.commit()  # Saves changes
conn.close()   # Closes the connection when done

'''

'\n#create a table if it doesn\'t exist\ncursor.execute(\n    CREATE TABLE IF NOT EXISTS tuition (\n        Sector_Name TEXT,\n        Unit_ID TEXT,\n        OPEID TEXT,\n        Institution_Name TEXT,\n        State TEXT,\n        \'22/23_Tuition\' REAL\n);\n\n#the reason this didn\'t work is because of the """\n\n# Create a table if it doesn\'t exist\ncursor.execute("""\n    CREATE TABLE IF NOT EXISTS tuition (\n        Sector_Name TEXT,\n        Unit_ID TEXT,\n        OPEID TEXT,\n        Institution_Name TEXT,\n        State TEXT,\n        "22/23_Tuition" REAL\n  """  );\n)\nconn.commit()  # Saves changes\nconn.close()   # Closes the connection when done\n\n'

In [5]:
# Create a table if it doesn't exist
cursor.execute("""
    CREATE TABLE IF NOT EXISTS tuition (
        Sector_Name TEXT,
        Unit_ID TEXT,
        OPEID TEXT,
        Institution_Name TEXT,
        State TEXT,
        "22/23_Tuition" REAL
    );
""")

conn.commit()  # Saves changes
conn.close()   # Closes the connection when done

In [6]:
'''
#verify table and columns were created
cursor.execute("SELECT name FROM sqlite_master WHERE type='table' AND name='tuition';")
print(cursor.fetchone())  # Returns ('tuition',) if the table exists

This didnt work because I needed to open the connection to the db again. 
The below commands are the corrected code.
'''

'\n#verify table and columns were created\ncursor.execute("SELECT name FROM sqlite_master WHERE type=\'table\' AND name=\'tuition\';")\nprint(cursor.fetchone())  # Returns (\'tuition\',) if the table exists\n\nThis didnt work because I needed to open the connection to the db again. \nThe below commands are the corrected code.\n'

In [7]:

# Re-open the connection
conn = sqlite3.connect('tuition.db')
cursor = conn.cursor()

# Check if the table exists
cursor.execute("SELECT name FROM sqlite_master WHERE type='table' AND name='tuition';")
print("Table exists:" if cursor.fetchone() else "Table not found.")

# sqlite_master: A special table that lists all the tables, views, indexes, etc., in the database.

# Print out column names and types
cursor.execute("PRAGMA table_info(tuition);")
for col in cursor.fetchall():
    print(f"{col[1]} ({col[2]})")

#PRAGMA table_info(table_name): Returns info about the table's columns â€” name, type, etc.


# Close again after checking
conn.close()

Table exists:
Sector_Name (TEXT)
Unit_ID (TEXT)
OPEID (TEXT)
Institution_Name (TEXT)
State (TEXT)
22/23_Tuition (REAL)

In [8]:
conn = sqlite3.connect('studyareas.db')
cursor = conn.cursor()

# Print out column names and types
cursor.execute("PRAGMA table_info(studyareas);")
for col in cursor.fetchall():
    print(f"{col[1]} ({col[2]})")

conn.commit()  # Saves changes
conn.close()   # Closes the connection when done

UNITID (REAL)
OPEID6 (REAL)
INSTNM (TEXT)
CIPCODE (REAL)
CREDLEV (NUMERIC)
CREDDESC (TEXT)

In [9]:
'''
conn = sqlite3.connect('studayareas.db')
cursor = conn.cursor()

# Run the SQL command inside a string using cursor.execute
cursor.execute("ALTER TABLE studyareas.db ADD COLUMN CREDLEV NUMERIC;")

conn.commit()
conn.close()

#the reason why this didn't work is because I needed to reference the db in the connection command first, and then refer to the table--not the dB (they both have the same name but the db has .db while the table is just the name)
'''

'\nconn = sqlite3.connect(\'studayareas.db\')\ncursor = conn.cursor()\n\n# Run the SQL command inside a string using cursor.execute\ncursor.execute("ALTER TABLE studyareas.db ADD COLUMN CREDLEV NUMERIC;")\n\nconn.commit()\nconn.close()\n\n#the reason why this didn\'t work is because I needed to reference the db in the connection command first, and then refer to the table--not the dB (they both have the same name but the db has .db while the table is just the name)\n'

In [10]:
conn = sqlite3.connect('studyareas.db')
cursor = conn.cursor()

cursor.execute("PRAGMA table_info(studyareas);")
columns = cursor.fetchall()

for col in columns:
    print(f"Column name: {col[1]}, Data type: {col[2]}")
    
conn.close()

Column name: UNITID, Data type: REAL
Column name: OPEID6, Data type: REAL
Column name: INSTNM, Data type: TEXT
Column name: CIPCODE, Data type: REAL
Column name: CREDLEV, Data type: NUMERIC
Column name: CREDDESC, Data type: TEXT

In [11]:
# Connect to the database
conn = sqlite3.connect('studyareas.db')
cursor = conn.cursor()

# Delete the table (if it exists)
cursor.execute("DROP TABLE IF EXISTS studyareas;")

# Commit and close
conn.commit()
conn.close()

print("âœ… Table 'studyareas' deleted successfully.")

âœ… Table 'studyareas' deleted successfully.

In [12]:
# Create a table if it doesn't exist

conn = sqlite3.connect('studyareas.db')
cursor = conn.cursor()

cursor.execute("""
    CREATE TABLE IF NOT EXISTS studyareas (
        UNITID REAL,
        OPEID6 REAL,
        INSTNM TEXT,
        CIPCODE REAL,
        CREDLEV NUMERIC,
        CREDDESC TEXT
    );
""")
conn.commit()  # Saves changes
conn.close()   # Closes the connection when done

In [13]:
conn = sqlite3.connect('studyareas.db')
cursor = conn.cursor()

cursor.execute("PRAGMA table_info(studyareas);")
columns = cursor.fetchall()

for col in columns:
    print(f"Column name: {col[1]}, Data type: {col[2]}")
    
conn.close()

Column name: UNITID, Data type: REAL
Column name: OPEID6, Data type: REAL
Column name: INSTNM, Data type: TEXT
Column name: CIPCODE, Data type: REAL
Column name: CREDLEV, Data type: NUMERIC
Column name: CREDDESC, Data type: TEXT

In [14]:
#import data from csv into table in SQLite table

import csv

#add data from csv to table (for Mac)
file_path = "/Users/Public/College_Data/studyareas.csv"

# Connect to your SQLite database
conn = sqlite3.connect('studyareas.db')
cursor = conn.cursor()

# Open the CSV file
with open(file_path, 'r', encoding='utf-8') as file:
    reader = csv.DictReader(file)  # Automatically uses headers
    rows = [
        (
            row['UNITID'],
            row['OPEID6'],
            row['INSTNM'],
            row['CIPCODE'],
            row['CREDLEV'],
            row['CREDDESC']
        )
        for row in reader
    ]

# Insert the data into your table
cursor.executemany("""
    INSERT INTO studyareas (
        UNITID, OPEID6, INSTNM, CIPCODE, CREDLEV, CREDDESC
    ) VALUES (?, ?, ?, ?, ?, ?);
""", rows)

# Save and close
conn.commit()
conn.close()

print("âœ… Data imported successfully.")

âœ… Data imported successfully.

In [15]:
#import data from csv into table in SQLite table

import csv

#add data from csv to table (for Mac)
file_path = "/Users/Public/College_Data/collegetuition.csv"

# Connect to your SQLite database
conn = sqlite3.connect('tuition.db')
cursor = conn.cursor()

# Open the CSV file
with open(file_path, 'r', encoding='utf-8') as file:
    reader = csv.DictReader(file)  # Automatically uses headers
    rows = [
        (
            row['Sector Name'],
            row['Unit ID'],
            row['OPEID'],
            row['Insitution Name'],
            row['State'],
            row['22/23 Tuition']
        )
        for row in reader
    ]


# Insert the data into your table
cursor.executemany("""
    INSERT INTO tuition (
        Sector_Name, Unit_ID, OPEID, Instition_Name, State, 22/23_Tuition
    ) VALUES (?, ?, ?, ?, ?, ?);
""", rows)

# Save and close
conn.commit()
conn.close()

print("âœ… Data imported successfully.")

KeyError: 'Sector Name'

<div style="background-color: #FF46A2; padding:25px; border-radius: 10px;">
<strong>Reminder:</strong> Put in the Code Reference Notebook.
</div>

In [ ]:
'''
ðŸ§  Final Tip:
If you ever get a KeyError again, just print reader.fieldnames to verify how the column names are written.
'''

In [ ]:
# Open the CSV file
with open(file_path, 'r', encoding='utf-8') as file:
    reader = csv.DictReader(file)  # Automatically uses headers
    rows = [
        (
            row['Sector name'],
            row['Unit ID'],
            row['OPEID'],
            row['Institution Name'],  # âœ… Fixed typo
            row['State'],
            row['22/23 Tuition']
        )
        for row in reader
    ]

# Insert the data into your table
cursor.executemany("""
    INSERT INTO tuition (
        Sector name, Unit ID, OPEID, Institution Name, State, "22/23 Tuition"
    ) VALUES (?, ?, ?, ?, ?, ?); 
""", rows)

# Save and close
conn.commit()
conn.close()

print("âœ… Data imported successfully.")

In [ ]:
# Replace this with your actual CSV file path
file_path = "/Users/Public/College_Data/collegetuition.csv"

# Open the CSV and print the headers
with open(file_path, 'r', encoding='utf-8') as file:
    reader = csv.DictReader(file)
    print("CSV headers:", reader.fieldnames)

In [ ]:
# Open the CSV file
with open(file_path, 'r', encoding='utf-8') as file:
    reader = csv.DictReader(file)  # Automatically uses headers
    rows = [
        (
            row['Sector name'],
            row['UnitID'],
            row['OPEID'],
            row['Name of institution'],  # âœ… Fixed typo here
            row['State'],
            row['2022-23 Tuition and fees']
        )
        for row in reader
    ]

# Insert the data into your table
cursor.executemany("""
    INSERT INTO tuition (
        Sector name, UnitID, OPEID, Name of institution, State, "2022-23 Tuition and fees"
    ) VALUES (?, ?, ?, ?, ?, ?);
""", rows)

# Save and close
conn.commit()
conn.close()

print("âœ… Data imported successfully.")

In [ ]:
# Open the CSV file
with open(file_path, 'r', encoding='utf-8') as file:
    reader = csv.DictReader(file)  # Automatically uses headers
    rows = [
        (
            row['Sector name'],
            row['UnitID'],
            row['OPEID'],
            row['Name of institution'],  # âœ… Fixed typo here
            row['State'],
            row['2022-23 Tuition and fees']
        )
        for row in reader
    ]

cursor.executemany("""
    INSERT INTO tuition (
        "Sector name", 
        "UnitID", 
        "OPEID", 
        "Name of institution", 
        "State", 
        "2022-23 Tuition and fees"
    ) VALUES (?, ?, ?, ?, ?, ?);
""", rows)

In [ ]:
#the issue I'm now having is that I named my column names in the table
#something different than what's in the file, which is causing these issues.
#to troubleshoot this, I'm going to change the column names in the file so
#that is matches the table.

#to find the exact column names, I can use the following code
'''
import sqlite3

# Connect to your database
conn = sqlite3.connect('your_database.db')  # Replace with your actual database name
cursor = conn.cursor()

# Get column info
cursor.execute("PRAGMA table_info(tuition);")  # Replace 'tuition' with your table name
columns = cursor.fetchall()

# Print column names
'''

<div style="background-color: #FF46A2; padding:25px; border-radius: 10px;">
<strong>Reminder:</strong> Put in the Code Reference Notebook.
</div>

In [ ]:
#to create this type of note below--change the cell type to markdown and use the following code:
'''
<div style="background-color: #fff3cd; padding: 10px; border-radius: 5px;">
<strong>Reminder:</strong> Put in the Code Reference Notebook.
</div>
'''

In [ ]:

# Connect to the database
conn = sqlite3.connect('tuition.db')  # Replace with your actual database name
cursor = conn.cursor()

# Get column info
cursor.execute("PRAGMA table_info(tuition);")  # Replace 'tuition' with your table name
columns = cursor.fetchall()

# Print column names
for col in columns:
    print(f"Column name: {col[1]}, Data type: {col[2]}")

conn.close()

In [ ]:
# Open the CSV file
with open(file_path, 'r', encoding='utf-8') as file:
    reader = csv.DictReader(file)  # Automatically uses headers
    rows = [
        (
         
        )
        for row in reader
    ]

# Connect to the database
conn = sqlite3.connect('tuition.db')  # Replace with your actual database name
cursor = conn.cursor()

# Insert the data into your table
cursor.executemany("""
    INSERT INTO tuition (
        Sector_Name, Unit_ID, OPEID, Institution_Name, State, "22/23_Tuition"
    ) VALUES (?, ?, ?, ?, ?, ?);
""", rows)

# Save and close
conn.commit()
conn.close()

print("âœ… Data imported successfully.")

In [ ]:
# Open the CSV file
with open(file_path, 'r', encoding='utf-8') as file:
    reader = csv.DictReader(file)  # Automatically uses headers
    rows = [
        (
            row['Sector_Name'],
            row['Unit_ID'],
            row['OPEID'],
            row['Institution_Name'], 
            row['State'],
            row["22/23_Tuition"]
        )
        for row in reader
    ]

# Connect to the database
conn = sqlite3.connect('tuition.db')  # Replace with your actual database name
cursor = conn.cursor()

# Insert the data into your table
cursor.executemany("""
    INSERT INTO tuition (
        Sector_Name, Unit_ID, OPEID, Institution_Name, State, "22/23_Tuition"
    ) VALUES (?, ?, ?, ?, ?, ?);
""", rows)

# Save and close
conn.commit()
conn.close()

print("âœ… Data imported successfully.")

In [ ]:
##to find all the databases in SQLite

import os

folder_path = "/Users/emilykund/Documents"  # change this to your target folder
db_files = [f for f in os.listdir(folder_path) if f.endswith('.db')]

print("ðŸ“‚ SQLite database files found:")
for db in db_files:
    print(f"â€¢ {db}")

<div style="background-color: #FF46A2; padding:25px; border-radius: 10px;">
<strong>Reminder:</strong> Put in the Code Reference Notebook.
</div>

In [ ]:
import os
folder_path = "/Users/emilykund"  # change this to your target folder
db_files = [f for f in os.listdir(folder_path) if f.endswith('.db')]

print("ðŸ“‚ SQLite database files found:")
for db in db_files:
    print(f"â€¢ {db}")

In [ ]:
# Connect to the database
conn = sqlite3.connect('collegedata.db')  # Replace with your actual database name
cursor = conn.cursor()

# Get column info
cursor.execute("PRAGMA table_info(collegedata);") 
columns = cursor.fetchall()

# Print column names
for col in columns:
    print(f"Column name: {col[1]}, Data type: {col[2]}")

conn.close()

In [ ]:
'''
the prior line was not printing, so to troubleshoot it, here's what I'm doing:
1. checking the name of the table
2. checking that if the table does exist that it has columns
3. Get the raw results of the table info command:

cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()
print("Tables in the database:", tables)

'''

In [ ]:
#check to see if the table exists
# Connect to the database
conn = sqlite3.connect('collegedata.db')  # Replace with your actual database name
cursor = conn.cursor()

cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()
print("Tables in the database:", tables)

In [ ]:
# Create a table if it doesn't exist

conn = sqlite3.connect('collegedata.db')
cursor = conn.cursor()

cursor.execute("""
    CREATE TABLE IF NOT EXISTS collegedata (
        'School Name' TEXT,
        Address REAL,
        City TEXT,
        State TEXT,
        Zipcode NUMERIC,
        Type REAL,
        'Degrees Offered' REAL,
        'Campus Setting' TEXT,
        'Campus Housing' TEXT,
        'Student Population' NUMERIC,
        'Undergraduate Students' NUMERIC,
        'Public-Private' TEXT,
        'Published In-state Tuition and Fees ($)' NUMERIC,
        'Published Out-of-state Tuition and Fees ($)' NUMERIC
        'Profile Link to College Navigator' REAL
    );
""")
conn.commit()  # Saves changes
conn.close()   # Closes the connection when done

In [ ]:
#import data from csv into table in SQLite table

import csv

#add data from csv to table (for Mac)
file_path = "/Users/Public/College_Data/CollegeData.csv"

# Connect to your SQLite database
conn = sqlite3.connect('collegedata.db')
cursor = conn.cursor()

# Open the CSV file
with open(file_path, 'r', encoding='utf-8') as file:
    reader = csv.DictReader(file)  # Automatically uses headers
    rows = [
        (
            row['School Name'],
            row['Address'],
            row['City'],
            row['State'],
            row['Zipcode'],
            row['Type'],
            row['Degrees Offered'],
            row['Campus Setting'],
            row['Campus Housing'],
            row['Student Population'],
            row['Undergraduate Students'],
            row['Public-Private'],
            row['Published In-state Tuition and Fees ($)'],
            row['Published Out-of-state Tuition and Fees ($)'],
            row['Profile Link to College Navigator']    
        )
        for row in reader
    ]

# Insert the data into your table
cursor.executemany("""
    INSERT INTO collegedata (
    'School Name', Address, City, State, Zipcode, Type, 'Degrees Offered', 'Campus Setting', 'Campus Housing', 'Student Population', 
    'Undergraduate Students','Public-Private', 'Published In-state Tuition and Fees($)',  'Published Out-of-state Tuition and Fees($)',
    'Profile Link to College Navigator'
    
    ) VALUES (?, ?, ?, ?, ?, ?);
""", rows)

# Save and close
conn.commit()
conn.close()

print("âœ… Data imported successfully.")

In [ ]:
print("CSV headers:", reader.fieldnames)

In [ ]:
# Print out column names and types
cursor.execute("PRAGMA table_info(collegedata);")
for col in cursor.fetchall():
    print(f"{col[1]} ({col[2]})")

In [ ]:
#because there are a few columns that are messed up, I'm going to create a new table with the correct column names, delete the old one and then rename the new one.

In [ ]:
# Create a table if it doesn't exist

conn = sqlite3.connect('collegedata.db')
cursor = conn.cursor()

cursor.execute("""
    CREATE TABLE IF NOT EXISTS collegedata_new (
        'School Name' TEXT,
        'Address' REAL,
        'City' TEXT,
        'State' TEXT,
        'Zipcode' NUMERIC,
        'Type' REAL,
        'Degrees Offered' REAL,
        'Campus Setting' TEXT,
        'Campus Housing' TEXT,
        'Student Population' NUMERIC,
        'Undergraduate Students' NUMERIC,
        'Public-Private' TEXT,
        'Published In-state Tuition and Fees ($)' NUMERIC,
        'Published Out-of-state Tuition and Fees ($)' NUMERIC,
        'Profile Link to College Navigator' REAL
    );
""")
conn.commit()  # Saves changes
conn.close()   # Closes the connection when done

In [ ]:
# drop the old table 
# Connect to the database
conn = sqlite3.connect('collegedata.db')
cursor = conn.cursor()

# Delete the table (if it exists)
cursor.execute("DROP TABLE IF EXISTS collegedata;")

# Commit and close
conn.commit()
conn.close()

print("âœ… Table 'collegedata' deleted successfully.")

In [ ]:
#rename table
ALTER TABLE collegedata_new RENAME TO collegedata;
print("âœ… Table 'collegedata' renamed successfully.")

In [ ]:
'''
got the code in cell 99 from the chatgpt but it didn't work.  The recommended troubleshooting steps:
1. Check the SQLite version. 3.35 or lower, you need to do a workaround. 
'''

import sqlite3
print("SQLite version:", sqlite3.sqlite_version)

In [ ]:
#troubleshoot step 2 open and interact with db then write the code, close the connection.

import sqlite3

conn = sqlite3.connect('collegedata.db')
cursor = conn.cursor()

cursor.execute('ALTER TABLE collegedata_new RENAME TO collegedata;')
conn.commit()
conn.close()

In [ ]:
#import data from csv into table in SQLite table

import csv

#add data from csv to table (for Mac)
file_path = "/Users/Public/College_Data/CollegeData.csv"

# Connect to your SQLite database
conn = sqlite3.connect('collegedata.db')
cursor = conn.cursor()

# Open the CSV file
with open(file_path, 'r', encoding='utf-8') as file:
    reader = csv.DictReader(file)  # Automatically uses headers
    rows = [
        (
            row['School Name'],
            row['Address'],
            row['City'],
            row['State'],
            row['Zipcode'],
            row['Type'],
            row['Degrees Offered'],
            row['Campus Setting'],
            row['Campus Housing'],
            row['Student Population'],
            row['Undergraduate Students'],
            row['Public-Private'],
            row['Published In-state Tuition and Fees ($)'],
            row['Published Out-of-state Tuition and Fees ($)'],
            row['Profile Link to College Navigator']    
        )
        for row in reader
    ]

# Insert the data into your table
cursor.executemany("""
    INSERT INTO collegedata (
    'School Name', Address, City, State, Zipcode, Type, 'Degrees Offered', 'Campus Setting', 'Campus Housing', 'Student Population', 
    'Undergraduate Students','Public-Private', 'Published In-state Tuition and Fees ($)',  'Published Out-of-state Tuition and Fees ($)',
    'Profile Link to College Navigator'
    
    ) VALUES (?, ?, ?, ?, ?, ?);
""", rows)

# Save and close
conn.commit()
conn.close()

print("âœ… Data imported successfully.")

In [ ]:
# Print out column names and types
cursor.execute("PRAGMA table_info(collegedata);")
for col in cursor.fetchall():
    print(f"{col[1]} ({col[2]})")

In [ ]:
#import data from csv into table in SQLite table

import csv

#add data from csv to table (for Mac)
file_path = "/Users/Public/College_Data/CollegeData.csv"

# Connect to your SQLite database
conn = sqlite3.connect('collegedata.db')
cursor = conn.cursor()

# Open the CSV file
with open(file_path, 'r', encoding='utf-8') as file:
    reader = csv.DictReader(file)  # Automatically uses headers
    rows = [
        (
            row['School Name'],
            row['Address'],
            row['City'],
            row['State'],
            row['Zipcode'],
            row['Type'],
            row['Degrees Offered'],
            row['Campus Setting'],
            row['Campus Housing'],
            row['Student Population'],
            row['Undergraduate Students'],
            row['Public-Private'],
            row['Published In-state Tuition and Fees ($)'],
            row['Published Out-of-state Tuition and Fees ($)'],
            row['Profile Link to College Navigator']    
        )
        for row in reader
    ]

# Insert the data into your table
cursor.executemany("""
    INSERT INTO collegedata (
    'School Name', Address, City, State, Zipcode, Type, 'Degrees Offered', 'Campus Setting', 'Campus Housing', 'Student Population', 
    'Undergraduate Students','Public-Private', 'Published In-state Tuition and Fees ($)',  'Published Out-of-state Tuition and Fees ($)',
    'Profile Link to College Navigator'
    
    ) VALUES (?, ?, ?, ?, ?, ?);
""", rows)

# Save and close
conn.commit()
conn.close()

print("âœ… Data imported successfully.")

In [ ]:
conn = sqlite3.connect('collegedata.db')
cursor = conn.cursor()

cursor.execute('ALTER TABLE collegedata DROP COLUMN "Published Out-of-state Tuition and Fees ($)";')
cursor.execute("PRAGMA table_info(collegedata);")
for col in cursor.fetchall():
    print(f"{col[1]} ({col[2]})")
conn.commit()
conn.close()

In [ ]:
conn = sqlite3.connect('collegedata.db')
cursor = conn.cursor()

cursor.execute('ALTER TABLE collegedata ADD COLUMN "Published Out-of-state Tuition and Fees ($)";')
cursor.execute("PRAGMA table_info(collegedata);")
for col in cursor.fetchall():
    print(f"{col[1]} ({col[2]})")
conn.commit()
conn.close()

In [ ]:
conn = sqlite3.connect('collegedata.db')
cursor = conn.cursor()

cursor.execute('ALTER TABLE collegedata ADD COLUMN "Profile Link to College Navigator";')
cursor.execute("PRAGMA table_info(collegedata);")
for col in cursor.fetchall():
    print(f"{col[1]} ({col[2]})")
conn.commit()
conn.close()

In [37]:
#import data from csv into table in SQLite table

import csv

#add data from csv to table (for Mac)
file_path = "/Users/Public/College_Data/CollegeData.csv"

# Connect to your SQLite database
conn = sqlite3.connect('collegedata.db')
cursor = conn.cursor()

# Open the CSV file
with open(file_path, 'r', encoding='utf-8') as file:
    reader = csv.DictReader(file)  # Automatically uses headers
    rows = [
        (
            row['School Name'],
            row['Address'],
            row['City'],
            row['State'],
            row['Zipcode'],
            row['Type'],
            row['Degrees Offered'],
            row['Campus Setting'],
            row['Campus Housing'],
            row['Student Population'],
            row['Undergraduate Students'],
            row['Public-Private'],
            row['Published In-state Tuition and Fees ($)'],
            row['Published Out-of-state Tuition and Fees ($)'],
            row['Profile Link to College Navigator']    
        )
        for row in reader
    ]

# Insert the data into your table
cursor.executemany("""
    INSERT INTO collegedata (
    'School Name', Address, City, State, Zipcode, Type, 'Degrees Offered', 'Campus Setting', 'Campus Housing', 'Student Population', 
    'Undergraduate Students','Public-Private', 'Published In-state Tuition and Fees ($)',  'Published Out-of-state Tuition and Fees ($)',
    'Profile Link to College Navigator'
    
    ) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?);
""", rows)
#the number of ? needs to match the number of coilumns

# Save and close
conn.commit()
conn.close()

print("âœ… Data imported successfully.")

âœ… Data imported successfully.